// 🎨 Paleta de colores
$primary-color: #0f172a; // Fondo principal (gris azulado oscuro)
$secondary-color: #38bdf8; // Celeste
$accent-color: #f59e0b; // Naranja dorado
$text-color: #e2e8f0; // Gris claro
$font-family: 'Segoe UI', sans-serif;
$breakpoint-mobile: 768px;


