@import 'variables';
@import 'personal';
@import 'teaser';
@import 'skills';
@import 'navbar';


body {
  font-family: $font-family;
  color: $text-color;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

footer {
  background-color: darken($primary-color, 8%);
  color: $text-color;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid rgba($secondary-color, 0.3);
}



